{% extends "layout.html" %}
{% block content %}
<div id='result'></div>
<form id="guitarcreate">
  Model Name:<br>
  <input type="text" id="name">
  <br>
  Brand:<br>
    <select id="brand">
    <option value="fender">Fender</option>
    <option value="gibson">Gibson</option>
    <option value="ibanez">Ibanez</option>
    <option value="martin">Martin</option>
  </select>
  <br><br>
  <button type="submit" class="btn btn-primary" onclick="guitarcreate();" >Submit</button>
</form>

<script>
function guitarcreate() {
    var name = $("#name").val();
    var brand = $("#brand").val();
    data = {'name': name, 'brand': brand};
    $.ajax({
         type: "POST",
          url: '/guitaradd',
          data: data,
          success: function(data) {
              if (data.result == 'success') {
                $("#result").replaceWith("<div class='alert alert-success alert-dismissable'>Guitar added!</div>");
              } else {
                $("#result").replaceWith("<div class='alert alert-error alert-dismissable'>Guitar not added</div>");
              };
          }
    });
    return ;
}
</script>
{% endblock %}
