{% extends "layout.html" %}
{% block content %}
    <div class="form-group">
        <label for="inputName">Name</label>
        <input required="true" class="form-control" id="name" placeholder="Enter Model Name">
    </div>
    <div class="form-group">
        <label for="inputName">Brand</label>
        <select class="form-control" id="brand">
        {% for brand in brands %}
        <option value="{{ brand }}" selected >{{ brand | capitalize() }}</option>
        {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary" onclick="guitarcreate();">Create</button>

<br><a href="{{ url_for('index') }}">back to guitar list</a>
{% endblock %}
