{% extends "layout.html" %}
{% block content %}
<table id="guitars" cellspacing="0" width="100%" class="table table-striped table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Brand</th>
                <th>Name</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            {% for guitar in guitars %}
		<tr>
		<td>{{ guitar.get("spec")["brand"] }}</td>
		<td>{{ guitar.get("metadata")["name"] }}</td>
		<td>{{ guitar.get("spec")["comment"] }}</td>
		</tr>
			{% endfor %}
        </tbody>
</table>
<a href="{{ url_for('guitaradd') }}">add a new guitar!</a>
{% endblock %}
